{% macro images(name) %}
<div class="flex justify-center border bg-white border-gray-100 rounded-xl hover:shadow-xl">
    <img class="h-20 m-1" src="assets/{{ name }}.svg" alt="netflix" />
</div>
{% endmacro %}