<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Elementy and Tailwind</title>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <section class="px-8 py-28 bg-gray-100 mx-auto">
        <h2 class="text-center text-4xl font-bold">
            Our customers bring search to life
        </h2>
        <p class="mx-auto mt-4 max-w-4xl text-center text-gray-500">
            From startups to the global 2000, Elastic powers search solutions for thousands of companies worldwide to find documents, monitor infrastructure, protect against security threats, and more.
        </p>

        <div class="container mx-auto p-12">
            <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">
                {% import 'icons-macro.njk' as macro %}
                {{ macro.images("netflix") }}
                {{ macro.images("uber") }}
                {{ macro.images("slack") }}
                {{ macro.images("twilio") }}
                {{ macro.images("microsoft") }}
            </div>
        </div>

        <div class="flex">
            <div class="m-auto flex">
                <p class="hover:underline text-blue-600 font-bold text-md">
                    View all customers
                    <span style="display: inline-flex;">
                        <img class="ml-1 transition-all ease-in translate-y-0.5 hover:translate-x-1 duration-75" src="assets/arrrow.svg" alt="arrow" />
                    </span>
                </p>
            </div>
        </div>

    </section>
</body>

</html>